body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



table {
  border-collapse:collapse;
  width: 50%px;
}

/* Set the height of the table container to define the visible area */
.table-container {
  height: 800px; /* Adjust the height as per your requirement */
  overflow-y: scroll; /* Enable vertical scrolling */
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

td:nth-child(2), th:nth-child(2) {
  width: 200px; /* Set the desired width */
}

td:nth-child(3), th:nth-child(3) {
  width: 700px; /* Set the desired width */
}

td:nth-child(4), th:nth-child(4) {
  width: 700px; /* Set the desired width */
}

